<header>
  <img src="assets/img/carol.jpeg" alt="Caroline Souza - Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1>Caroline Souza</h1>
</header>
<aside>
  <div class="container">
    <p>Front-end | Vue.js | Angular | Nuxt.js | Quasar | Bootstrap | Sass</p>
    <p>Desenvolvedora web com sólida experiência em JavaScript e frameworks modernos como Vue.js, Angular e Quasar. Atuei em projetos de grande escala com integração de APIs REST, o que me permitiu aprimorar minhas habilidades técnicas e colaborativa.</p>
    <p>Sou apaixonada por trabalho em equipe, sempre pronta para apoiar colegas e contribuir para um ambiente colaborativo. Sou proativa, responsável e comprometida com a busca constante por aperfeiçoamento profissional. Minha abordagem flexível e eficiente me permite enfrentar desafios de forma criativa e eficaz.</p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/caroline-souza-7074a1b4/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px">
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5511983973518&text=Ol%C3%A1%20Caroline,%20preciso%20de%20um%20job!" target="_blank">
            <strong>Envie uma menssagem para:</strong>
            <p>Whatsapp: (11) 9 8397-3518</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img src="assets/icons/mail.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px">
        <figcaption>
          <a href="mailto:carol.silvasouza@hotmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>carol.silvasouza&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>